<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	
	<property name="LOGDIR" value="/logs/apps/qbit/qbit-samples-todo-service" />
	
	<!-- to remove the noise generated at app startup -->
	<statusListener class="ch.qos.logback.core.status.NopStatusListener" />
	
	<conversionRule conversionWord="threadId"
	                converterClass="qbit.samples.utils.ThreadIdConverter"/>
	
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread:%threadId] %class{0} :: %msg%n</pattern>
		</layout>
	</appender>
	
	<appender name="FRAMEWORKSLOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOGDIR}/frameworks.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover. Make sure the path matches the one in the file element or else
			 the rollover logs are placed in the working directory. -->
			<fileNamePattern>${LOGDIR}/frameworks_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>5MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<!-- keep 2 days' worth of history -->
			<maxHistory>2</maxHistory>
		</rollingPolicy>
		
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger - %msg%n</pattern>
		</encoder>
	</appender>
	
	<logger name="io.advantageous" level="info" additivity="false">
		<appender-ref ref="FRAMEWORKSLOG" />
	</logger>
	
	<logger name="io.vertx" level="debug" additivity="false">
		<appender-ref ref="FRAMEWORKSLOG" />
	</logger>
	
	<logger name="ch.qos.logback" level="debug" additivity="false">
		<appender-ref ref="FRAMEWORKSLOG" />
	</logger>
	
	<logger name="qbit.samples" level="debug" additivity="false">
		<appender-ref ref="CONSOLE" />
	</logger>
	
	
	<root level="INFO">
		<appender-ref ref="CONSOLE" />
	</root>
	
</configuration>